services:
  db:
    image: postgres:17
    container_name: database
    restart: always
    networks:
      - main
    environment:
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_DB: ${DATABASE_DBNAME}
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - ${DATABASE_PORT}:5432
  db-static:
    image: postgres:17
    container_name: db-static
    restart: always
    environment:
      POSTGRES_USER: ${DATABASE_STATIC_USER}
      POSTGRES_PASSWORD: ${DATABASE_STATIC_PASSWORD}
      POSTGRES_DB: ${DATABASE_STATIC_DBNAME}
    volumes:
      - ./init-db:/docker-entrypoint-initdb.d
    ports:
      - ${DATABASE_STATIC_PORT}:5432
    networks:
      - main
  redis:
    image: redis
    container_name: redis
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - redis_data:/data
    networks:
      - main
    command: [ "redis-server", "--requirepass", "${REDIS_PASSWORD}" ]
  api:
    container_name: api
    profiles:
      - api
    build:
      context: .
    restart: always
    ports:
      - ${API_PORT}:${API_PORT}
    volumes:
      - ./.env:/opt/api/.env
      - ./uploads:/opt/api/uploads/
      - ./logs:/opt/api/logs/
      - ./prisma.config.ts:/opt/api/prisma.config.ts
    networks:
      - main
    depends_on:
      - db
      - redis
      - db-static
    command: sh -c "cd /opt/api/ && npx prisma migrate deploy && npx prisma generate && npm run start:prod"
networks:
  main:
    driver: bridge

volumes:
  db_data:
  redis_data:
  uploads: