services:
  db:
    container_name: dev_database
    networks:
      - main
    volumes:
      - db_data:/var/lib/postgresql/data
  db-static:
    container_name: dev_db-static
    networks:
      - main
  redis:
    container_name: dev_redis
    networks:
      - main
    volumes:
      - redis_data:/data
  api:
    container_name: dev_api
    networks:
      - main
    environment:
      - ./uploads:/opt/api/uploads/
    command: sh -c "cd /opt/api/ && npx prisma migrate status && npx prisma migrate deploy && npx prisma generate && NODE_ENV=DEV node dist/main"

networks:
  main:
    driver: bridge

volumes:
  db_data:
  redis_data:
  uploads: