services:
  db:
    container_name: dev_database
    networks:
      - main
    volumes:
      - db_data:/var/lib/postgresql/data
  db-static:
    container_name: dev_db-static
    networks:
      - main
  redis:
    container_name: dev_redis
    networks:
      - main
    volumes:
      - redis_data:/data
  elasticsearch:
    container_name: dev_elasticsearch
    networks:
      - main
  api:
    container_name: dev_api
    environment:
      - NODE_ENV=DEV
    networks:
      - main

networks:
  main:
    driver: bridge

volumes:
  db_data:
  redis_data: