services:
  db:
    image: postgres:17
    container_name: database
    restart: always
    networks:
      - main
    environment:
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_DB: ${DATABASE_DBNAME}
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "127.0.0.1:${DATABASE_PORT}:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DATABASE_USER} -d ${DATABASE_DBNAME}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
  db-static:
    image: postgres:17
    container_name: db-static
    restart: always
    environment:
      POSTGRES_USER: ${DATABASE_STATIC_USER}
      POSTGRES_PASSWORD: ${DATABASE_STATIC_PASSWORD}
      POSTGRES_DB: ${DATABASE_STATIC_DBNAME}
    volumes:
      - ./init-db:/docker-entrypoint-initdb.d
    ports:
      - "127.0.0.1:${DATABASE_STATIC_PORT}:5432"
    networks:
      - main
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DATABASE_STATIC_USER} -d ${DATABASE_STATIC_DBNAME}" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
  redis:
    image: redis
    container_name: redis
    ports:
      - "127.0.0.1:${REDIS_PORT}:6379"
    volumes:
      - redis_data:/data
    networks:
      - main
    command: [ "redis-server", "--requirepass", "${REDIS_PASSWORD}" ]
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
  api:
    container_name: api
    profiles:
      - api
    build:
      context: .
    restart: always
    ports:
      - ${API_PORT}:${API_PORT}
    volumes:
      - ./.env:/opt/api/.env
      - ./prisma.config.ts:/opt/api/prisma.config.ts
    networks:
      - main
    depends_on:
      - db
      - redis
      - db-static
      - elasticsearch
    command: sh -c "cd /opt/api/ && npx prisma migrate deploy && npm run start:prod"
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:${API_PORT}/health"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 20s
  elasticsearch:
    container_name: elasticsearch
    restart: always
    networks:
      - main
    image: docker.elastic.co/elasticsearch/elasticsearch:8.11.1
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=true
      - ELASTIC_PASSWORD=${ELASTICSEARCH_PASSWORD}
      - xpack.security.http.ssl.enabled=false
    ports:
      - "127.0.0.1:${ELASTICSEARCH_PORT}:9200"
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -s -u elastic:${ELASTICSEARCH_PASSWORD} http://localhost:9200/_cluster/health | grep -vq '\"status\":\"red\"'"
        ]
      interval: 20s
      timeout: 10s
      retries: 10
      start_period: 20s
networks:
  main:
    driver: bridge

volumes:
  db_data:
  redis_data: